In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
groceries = pd.read_csv('groceries.csv')
sales = pd.read_csv('sup_sales.csv')

In [3]:
groceries.head()

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN
3,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN
4,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN

In [7]:
groceries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9834 entries, 0 to 9833
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   citrus fruit         9834 non-null   object
 1   semi-finished bread  7675 non-null   object
 2   margarine            6032 non-null   object
 3   ready soups          4733 non-null   object
 4   Unnamed: 4           3729 non-null   object
 5   Unnamed: 5           2874 non-null   object
 6   Unnamed: 6           2229 non-null   object
 7   Unnamed: 7           1684 non-null   object
 8   Unnamed: 8           1246 non-null   object
 9   Unnamed: 9           1 non-null      object
dtypes: object(10)
memory usage: 768.4+ KB

In [11]:
groceries.isnull().sum()

citrus fruit              0
semi-finished bread    2159
margarine              3802
ready soups            5101
Unnamed: 4             6105
Unnamed: 5             6960
Unnamed: 6             7605
Unnamed: 7             8150
Unnamed: 8             8588
Unnamed: 9             9833
dtype: int64