In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('groceries.csv')

In [4]:
dataset

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN
3,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN
4,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9829,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,NaN
9830,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,NaN
9832,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN
9833,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset1 = dataset.replace(np.nan, '', regex=True)

In [6]:
dataset1

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,tropical fruit,yogurt,coffee,,,,,,,
1,whole milk,,,,,,,,,
2,pip fruit,yogurt,cream cheese,meat spreads,,,,,,
3,other vegetables,whole milk,condensed milk,long life bakery product,,,,,,
4,whole milk,butter,yogurt,rice,abrasive cleaner,,,,,
...,...,...,...,...,...,...,...,...,...,...
9829,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,
9830,cooking chocolate,,,,,,,,,
9831,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,
9832,semi-finished bread,bottled water,soda,bottled beer,,,,,,
9833,chicken,tropical fruit,other vegetables,vinegar,shopping bags,,,,,

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset1).transform(dataset1)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,,-,4,5,6,7,8,9,:,U,...,i,m,n,o,p,r,s,t,u,y
0,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,True,True,True,False
1,True,True,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,False,True,True
4,True,False,True,False,False,False,False,False,True,True,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9829,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9830,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9833,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.00001)

        support                          itemsets
0      0.000915                               (0)
1      0.000407                              (23)
2      0.000305                              (18)
3      0.000305                              (24)
4      0.000203                              (15)
...         ...                               ...
11154  0.000102      (0, 7, 8, 9, 10, 13, 14, 20)
11155  0.000102      (0, 7, 8, 9, 10, 14, 19, 20)
11156  0.000102     (0, 7, 8, 10, 13, 14, 19, 20)
11157  0.000102     (0, 7, 9, 10, 13, 14, 19, 20)
11158  0.000102  (0, 7, 8, 9, 10, 13, 14, 19, 20)

[11159 rows x 2 columns]