In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import cufflinks as cf
cf.go_offline()
warnings.filterwarnings('ignore')
sns.set_style('darkgrid')

In [2]:
df = pd.read_excel('nirf.xlsx')
df.head()

,Institutes,SS (20),FSR(30),FQE(20),FRU(30),PU(35),QP(40),IPR(15),FPPP(10),GPHE(40),GUE(15),MS(25),GPHD(20),RD(30),WD(30),ESCS(20),PCS(20),PREMP(100)
0,Aligarh Muslim University (IR-E-U-0496),11.00,30.00,16.44,11.95,18.41,20.00,0.0,1.05,21.18,14.32,13.95,3.84,5.86,10.53,3.70,12,12.14
1,Alliance University (IR-E-U-0213),6.75,16.88,8.19,8.77,0.43,0.60,0.0,0.23,32.78,15.00,13.84,0.00,10.73,22.90,3.96,20,1.63
2,Amity University (IR-E-U-0497),15.71,28.60,15.81,9.39,19.32,16.36,5.0,0.59,18.79,15.00,10.72,3.78,14.59,21.71,0.03,20,5.07
3,Anna University (IR-E-U-0439),19.05,22.11,12.65,9.36,27.60,30.43,3.0,3.10,20.01,14.70,13.84,14.70,1.82,27.22,3.62,20,70.13
4,Anurag Group of Institutions (IR-E-C-19747),12.98,25.31,9.00,5.85,0.32,0.44,0.0,0.11,26.49,14.29,11.86,0.00,2.65,24.08,1.41,20,0.41

In [3]:
df.columns

Index(['Institutes', 'SS (20)', 'FSR(30)', 'FQE(20)', 'FRU(30)', 'PU(35)',
       'QP(40)', 'IPR(15)', 'FPPP(10)', 'GPHE(40)', 'GUE(15)', 'MS(25)',
       'GPHD(20)', 'RD(30)', 'WD(30)', 'ESCS(20)', 'PCS(20)', 'PREMP(100)'],
      dtype='object')

In [4]:
list1=[]
for elements in df.mean():
    list1.append(elements)

In [5]:
list1

[11.354248704663211,
 23.861502590673563,
 12.010466321243525,
 10.387150259067356,
 7.647357512953364,
 8.03435233160622,
 0.8549222797927462,
 1.262849740932643,
 26.14886010362695,
 14.208911917098442,
 13.339689119170997,
 2.6667357512953367,
 8.559170984455962,
 20.936062176165795,
 2.421088082901554,
 18.46113989637306,
 12.538697916666665]

In [6]:
list2=[]
for elements in df[df['Institutes'] =='The Northcap University (IR-E-U-0163)'].mean():
    list2.append(elements)

In [7]:
list2

[8.4,
 22.36,
 12.07,
 11.37,
 5.64,
 7.56,
 0.0,
 0.31,
 19.47,
 15.0,
 11.34,
 0.3,
 7.69,
 20.63,
 1.17,
 20.0,
 0.0]

In [8]:
df1 = pd.DataFrame([list1,list2],columns = ['SS (20)', 'FSR(30)', 'FQE(20)', 'FRU(30)', 'PU(35)',
       'QP(40)', 'IPR(15)', 'FPPP(10)', 'GPHE(40)', 'GUE(15)', 'MS(25)',
       'GPHD(20)', 'RD(30)', 'WD(30)', 'ESCS(20)', 'PCS(20)', 'PREMP(100)'],index = ['Average','NCU'])

In [9]:
df1

,SS (20),FSR(30),FQE(20),FRU(30),PU(35),QP(40),IPR(15),FPPP(10),GPHE(40),GUE(15),MS(25),GPHD(20),RD(30),WD(30),ESCS(20),PCS(20),PREMP(100)
Average,11.354249,23.861503,12.010466,10.38715,7.647358,8.034352,0.854922,1.26285,26.14886,14.208912,13.339689,2.666736,8.559171,20.936062,2.421088,18.46114,12.538698
NCU,8.400000,22.360000,12.070000,11.37000,5.640000,7.560000,0.000000,0.31000,19.47000,15.000000,11.340000,0.300000,7.690000,20.630000,1.170000,20.00000,0.000000

In [18]:
labels = df1.index
values = df1['SS (20)']
colors = ['mediumturquoise', 'darkorange']

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.update_traces(hoverinfo='label+percent',textinfo='value',textfont_size=20,
                  marker=dict(colors=colors, line=dict(color='#000000', width=2)))
fig.show()