# Discriptive Statistics : Mean, Median, Mode

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Read the data

In [2]:
data_frame = pd.read_csv("Data.csv")

In [4]:
data_frame

    Annual income
0         62000.0
1         64000.0
2         49000.0
3        324000.0
4       1264000.0
5         54330.0
6         64000.0
7         51000.0
8         55000.0
9         48000.0
10        53000.0

## Mean

In [5]:
data_frame.mean()

Annual income    189848.181818
dtype: float64

## Median

In [6]:
data_frame.describe()

       Annual income
count   1.100000e+01
mean    1.898482e+05
std     3.652854e+05
min     4.800000e+04
25%     5.200000e+04
50%     5.500000e+04
75%     6.400000e+04
max     1.264000e+06

In [7]:
data_frame.describe().loc['50%']

Annual income    55000.0
Name: 50%, dtype: float64

In [8]:
data_frame.median()

Annual income    55000.0
dtype: float64

### Mode

In [9]:
data_frame.mode()

   Annual income
0        64000.0